  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-size: 1.4rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: #fff;
}


.loader {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, lightslategray, lightseagreen);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }

.card {
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.card__user-name {
    margin-right: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    color: lightseagreen;
}

.card__user-email {
    font-size: 1.1rem;
    color: lightslategray;
    cursor: pointer;
}

.card__user-info {
    margin-bottom: 1rem;
}

.card__title {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.card__title::first-letter {
    text-transform: capitalize;
}

.card button {
    position: absolute;
    top: .5rem;
    z-index: 2;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: all .2s;
}

.card button:hover {
    color: lightseagreen;
}

.card__button-delete {
    right: .5rem;
}


.card__button-edit {
    right: 3.5rem;
}

.button-add {
    position:fixed;
    border: 1px solid lightslategray;
    cursor: pointer;
    color: lightslategray;
    border-radius: 3px;
    font-size: 2rem;
    padding: 1rem;
    top: 1rem;
    right: 5rem;
    z-index: 2;
    transition: all .2s;
}

.button-add:hover {
    border: 1px solid lightseagreen;
    color: #fff;
    background-color: lightseagreen;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.popup-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
}

.popup {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    padding: 2.5rem 5rem;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.postForm {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-family: sans-serif;
}

.postForm__label {
    color: lightslategray;
    margin-bottom: 1rem;
}

.postForm__input {
    font-family: inherit;
    margin-bottom: 1.5rem;
    border-radius: 0;
    padding: .4rem .5rem;
    border: 1px solid lightslategray;
}

.postForm__textarea {
    resize: none;
    margin-bottom: 1.5rem;
    font-family: inherit;
    border-radius: 0;
    border: 1px solid lightslategray;
    height: 12rem;
    padding: .4rem .5rem;
}

.postForm__input:focus,
.postForm__textarea:focus {
    outline: none;
    border: 1px solid lightseagreen;
}

.postForm__input:invalid,
.postForm__textarea:invalid {
    border: 1px solid red;
}

.postForm__submit-btn {
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 3px;
    border: 1px solid lightslategray;
    color: lightslategray;
    width: 25%;
    align-self: center;
    cursor: pointer;
    transition: all .2s;
}

.postForm__submit-btn:hover {
    border: 1px solid lightseagreen;
    color: #fff;
    background-color: lightseagreen;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: lightslategray;
    transition: all .2s;
}

.close-button:hover {
    color: lightseagreen;
}