@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@keyframes animateCircle {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-find {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px #000;
  transition: all .2s;
}

.btn-find:hover {
  background-color: #d0c9c9;
  color: #fff;
}

.card {
  position: absolute;
  top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff;
  background-color: #d0c9c9;
  box-shadow: 0 0 3px #000;
  font-size: 2rem;
  padding: 1.5rem;
}

.loader {
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff;
  letter-spacing:4px;
  text-transform:uppercase;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}

.loader:before {
  content:'';
  position:absolute;
  top: -2.5px;
  left: -2.5px;
  width:103.5%;
  height:103.5%;
  border:3px solid transparent;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  border-radius:50%;
  animation:animateCircle 2s linear infinite;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}


