@font-face {
  font-family: "Distant Galaxy";
  src: url("./SFDistantGalaxy.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-size: 1.4rem;
    font-family: "Distant Galaxy";
    box-sizing: border-box;
}

.films-container {
    background-color: #fff;
    color: gold;
    padding: 1rem;
}

.film {
    background-color: #000;
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 0 3px #000;
}

.film p:first-child {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.film p:nth-child(2) {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.film ul {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    color:#fff;
}

.film__list-character {
    margin-right: 10px;
}

.film__list-preloader{
    position: relative;
    width: 100%;
    border: 10px solid gold;
    border-radius: 15px;
}

.film__list-preloader .color{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

@keyframes progres{

    0%{
      width: 0%;
    }

    25%{
        width: 50%;
    }

    50%{
        width: 75%;
    }

    75%{
        width: 85%;
    }

    100%{
        width: 100%;
    }

};